{% extends "sod/base.html" %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}

    <body>
    <main>
        {% if user.id == profile.user.id %}
            <div class="Profile">
                <img src="{{ profile.photo.url }}" alt="">
                <div>
                    <h4>Никнейм</h4>
                    <p>{{ profile.user }}</p>
                    <h4>Эл. адрес</h4>
                    <p>{{ profile.user.email }}</p>
                </div>
            </div>
        {% else %}
            <p>Доступ закрыт</p>
        {% endif %}
    </main>
    </body>

{% endblock content %}