{% extends "sod/base.html" %}

{% block content %}

    <body>
    <main>
        {% for user in user_list %}
            <div>
                <img src="{{ user.photo.url }}" alt="Фото">
                <div>
                    <p>{{ user.name }}</p>
                    <p>{{ user.surname }}</p>
                    <p>{{ user.middle_name }}</p>
                    <p>{{ user.date_of_birth }}</p>
                </div>
            </div>
        {% endfor %}
    </main>
    </body>

{% endblock content %}