{% extends "sod/base.html" %}

{% block content %}

    <section class="Manage">
        <div>
            <a href="#">Добавить</a>
            <a href="#">Удалить</a>
        </div>
    </section>

    <main>
        <section class="Tasks">
            {% for task in task_list %}
                <div>
                    <div>
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.description }}</p>
                        <p>{{ task.date }}</p>
                    </div>
                    <img src="{{ task.image.url }}" alt="Пикча">
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock content %}