{% extends "sod/base.html" %}

{% block title %}
    Задания
{% endblock %}

{% block content %}

    <main>
        <section class="Tasks">
            {% for pair in pairs_list %}
                {% if pair.user.id == user.profile.id %}
                    <div onClick="window.location.href='description-{{ pair.task.id }}'" style="background: url('{{ pair.task.image.url }}')">
                        <div class="Description">
                            <h3>{{ pair.task.name }}</h3>
                            <p>{{ pair.task.date }}</p>
                        </div>
                        <img src="{{ pair.task.image.url }}" alt="Пикча">
                    </div>
                {% endif %}

            {% endfor %}
        </section>
    </main>

{% endblock content %}